.static-workout-index-item-container {
  width: 57%;
  display: flex;
  background: white;
  justify-content: space-between;
  margin: 20px;
}

.static-workout-outer-exercise-list {
  width: 53%;
  background: black;
  color: white;
}

.static-workout-index-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  min-height: 40px;
}

.static-workout-index-item-container h2 {
  font-weight: bold;
}

.static-workout-summary-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.static-workout-summary-list li {
  padding: 10px;
}


.static-workout-index-item li {
  padding: 0px 10px;
  width: 50px;
  border-left: 1px solid white;
}

.static-workout-index-item li:first-child {
  border-left: 0px;
}

.static-workout-exercise-headers {
  display: flex;
  border: 1px solid white;
  justify-content: space-around;
  min-height: 40px;
  font-size: 18px;
}

.static-workout-exercise-headers li {
  padding: 0px 10px;
  width: 50px;
  border-left: 1px solid white;
}

.static-workout label {
 padding: 10px 0px;
}

.static-workout-exercise-headers li:first-child {
  border-left: 0px;
}

.static-workout-img {
  display: block;
  width: 91px;
  height: auto;
}
.static-notes {
  width: 158px;
}
