.travelWorkout-index-item {
  display: flex;
  background: white;
  justify-content: space-between;
  width: 57%;
  margin: 20px;
  max-height: 299px;
  border-radius: 5px;
}


.travel-workout-index-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.travel-workout-index-list h2 {
  font-weight: bold;
}

.travel-notes {
  width: 158px;
  margin-top: 10px;
}

.travel-notes h2 {
  font-weight: bold;
}

.travel-notes label {
}

.travel-workout-index-list label {
 padding: 10px 0px;
}


.feed-index-map {
  width: 53%;

  border-radius: 10px;
}

.travel-workout-index-notes {
  margin-top: 75px;
  max-width: 179px;
  margin-right: -20px;
}
