.travelWorkout-index-item {
  display: flex;
  justify-content: center;
  position: relative;
  border: 1px solid black;
}

.workout-index-route {
  display: flex;
  justify-content: flex-end;
}

.travel-workout-index-list {
  position: absolute;
}
