
.login-signup {
  display: flex;
  color: white;
}

.login-signup li a {
  padding: 20px;
}

.login-signup li {
  padding-top: 20px;
}

.login-signup li a:hover {
  background: lightgrey;
  color: black;
}

.nav-header {
  background: black;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.header-profile-picture {
  height: 40px;
  width: 50px;
}


.header-link {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 35px;
  color: white;
}

.logout-profile {
  display: flex;
  padding-top: 10px;
}

.logout-button {
  margin-right: 20px;
  color: white;
  padding: 11px;
}

.logout-button:hover {
  background: lightgrey;
  color: black;
}

.header-profile-picture {
  padding-right: 20px;
}

.plus {
  height: 40px;
  width: 40px;
  padding-right: 20px;
}
