.small-map {
  width: 40vw;
}

.route-list-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background: white;
  margin: 20px;
  width: 55%;
  position: relative;
  border-radius: 5px;
}

.route-list-div ul {
  padding-top: 20px;
}

.route-list-outer-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  min-height: 720px;
  position: relative;
}

.route-list-container {
  background: transparent;
}

.route-list-inner-div {
  width: 66%
}

.route-list-item {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.route-list-item-title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: center;
}

.route-list-ul {
  padding: 10px;
  width: 214px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.route-activity-img {
  height: 58px;
  width: auto;
  margin-left: 15px;
}

.route-list-delete-button {
  height: 25px;
  border: 1px solid black;
  padding: 4px;
  position: absolute;
  z-index: 500;
  right: 12px;
  top: 10px;
  background: black;
  color: white;
}

.route-list-delete-button:hover {
  color: black;
  background: lightgrey;
  cursor: pointer;
}

.route-next-page {
  margin-bottom: 30px;
  margin-right: 20px;
  border: 1px solid white;
  padding: 13px;
  color: white;
  background: black;
  border-radius: 5px;
}

.route-prev-page {
  margin-bottom: 30px;
  border: 1px solid white;
  padding: 13px;
  color: white;
  background: black;
  border-radius: 5px;
}

.route-next-page:hover {
  background: lightgrey;
  color:black;
  cursor: pointer;
}

.route-prev-page:hover {
  background: lightgrey;
  color:black;
  cursor: pointer;
}

.route-page-buttons {
  margin: 26px;
  display: flex;
  justify-content: space-between;
  width: auto;
}
