.static-workout-form-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.static-workout-form-container {
  width: 50%;
}

.static-workout-form {
  border: 1px solid black;
  min-height: 150px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}

.static-workout-form input {
  border: 1px solid black;
}

.static-workout-form textarea {
  border: 1px solid black;
  height: 92px;
}

.static-workout-form h2 {
  margin-top: 20px;
  font-weight: bold;
}

.static-workout-exercise-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.static-exercises-container {
  background: rgba(255, 255, 255, 0.95);
  width: 50%;
}

.static-workout-exercise-item h3 {
  font-size: 16px;
  width: 119px;
  font-weight: bold;
}

.static-workout-exercise-item input {
  border: 1px solid black;
  width: 100px;
}

.static-workout-exercise-item label {
  display: flex;
  flex-direction: column;
}

.exercise-dropdown-label {
  position: absolute;
  bottom: 20px;
  left: 62px;
}

.static-workout-form-submit {
  margin-right: 0px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  background: black;
  color: white;
}

.static-workout-form-submit:hover {
  color: black;
  background: lightgrey;
  cursor: pointer;
}
