.stats_outer_div {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
  background: white;
  justify-content: center;
}

.muscle-group-pie {

}

.gauges {
  margin-top: 114px;
}

.distance-traveled {

}

.calories-burned {

}
