.travel-workout-form-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.travel-workout-form-container {
  width: 50%;
}

.travel-workout-form {
  border: 1px solid black;
  min-height: 150px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  position: relative;
}

.travel-workout-form label {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.travel-workout-form h2 {
  font-weight: bold;
}

.travel-workout-form label input {

  border: 1px solid black;
}

.travel-workout-form textarea {
  border: 1px solid black;
  height: 111px;
  width: 200px;
}

.travel-workout-form select {
  width: 200px;
}

.travel-workout-route {
  display: flex;
  justify-content: center;
  width: 91%;
}
.travel-workout-date {

}
.travel-workout-form-notes {

}
.travel-workout-form-select {

}
.travel-workout-form-submit {
  background: black;
  padding: 5px;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.travel-workout-form-submit:hover {
  cursor: pointer;
  background: lightgrey;
  color: black;
}

.workout-route-index-item {

}
