.travel-workout-form-outer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.travel-workout-form-container {
  width: 50%;
}

.travel-workout-form {
  border: 1px solid black;
  min-height: 400px;
}
.travel-workout-date {

}
.travel-workout-form-notes {

}
.travel-workout-form-select {

}
.travel-workout-form-submit {

}
