.update-inputs {
  display: flex;
  flex-wrap: wrap;
  background: white;
  margin-bottom: 100px;
  position: relative;
  max-width: 539px;
  border-radius: 5px;
}

.user-edit-header {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 61px;
}

.profile-form {
  display: flex;
  flex-direction: column;
}



.profile-form-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-top: 35px;
  width: 66%;
}

.profile-form-content {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  min-width: 100px;
  min-height: 716px;
}

.update-input {
  margin: 0 auto;
  width: 200px;
  border: 1px lightgrey solid;
  margin-left: 20px;
}

.update-select {
  margin: 0 auto;
  background: transparent;
  border: 1px solid lightgrey;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.update-submit {
  border: 1px solid black;
  height: 19px;
  padding: 7px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  background: black;
  border-radius: 5px;
}

.update-submit:hover {
  background: lightgrey;
  color: black;
  cursor: pointer;
}

.h-line {
  width: 900px;
  border: 1px solid black;
  margin-left: 195px;
  margin-top: 20px;
}

.currents {
  color: grey;
}

.plus-profile-picture {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 118px;
  left: 137px;
}

.update-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 47px;
}

.field-label {
  display: inline-block;
  width: 100px;
  padding: 20px;
  font-size: 18px;
}

.description {
  height: 75px;
}

.edit-profile-picture {
  width: 200px;
  border-radius: 100px;
  border-radius: 100px;
}

.plus-profile-picture:hover {
  cursor: pointer;
}
