.update-inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.user-edit-header {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 61px;
}



.profile-form-box {
  display: flex;
  justify-content: flex-start;
  padding-left: 252px;
  padding-top: 50px;
}

.update-input {
  margin: 0 auto;
  width: 200px;
  border: 1px lightgrey solid;
}

.update-select {
  margin: 0 auto;
  background: transparent;
  border: 1px solid lightgrey;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 200px;
}

.update-submit {
  display:flex;
  justify-content: flex-end;
  width: 50px;
  border: 1px solid black;
  margin-left: 268px;
  padding: 10px;
  margin-bottom: 100px;
}

.update-submit:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.h-line {
  width: 900px;
  border: 1px solid black;
  margin-left: 195px;
  margin-top: 20px;
}

.currents {
  color: grey;
}

.plus-profile-picture {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 118px;
  left: 137px;
}

.update-field {
  position:relative;
}

.field-label {
  display: inline-block;
  width: 100px;
  padding: 20px;
  font-size: 18px;
}

.edit-profile-picture {
  width: 200px;
  border-radius: 100px;
  border-radius: 100px;
}

.plus-profile-picture:hover {
  cursor: pointer;
}
